.items {
    table-layout: fixed;
    display: block;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.col-time {
    width: 10%;
}

.col-message {
    width: 90%;
}

.glyphicon {
    font-size: 16px;
}

html, body {
    height: 100%;
}

.wrap {
    display: table;
    padding:10px;
}

.wrap p {
    display: table-cell;
    vertical-align: middle;
}

textarea {
    resize: none;
    height: 200px;
    overflow: auto;
}

.input-group-btn {
    vertical-align: bottom;
}

/*
.popover-username {
    background: #ffff99;
    color: red;
    font-weight: bold;
}


*/
